body{
    font-family: 'Noto Sans Nabataean', sans-serif;
}
#nav-menu{
    margin-left: 35px;
    color: black;
    font-weight: bold;
} 
#main-div{
    background-color:  #f1f1f1;
}
#first-btn{
    width: 100%;
    font-weight: bold;
}
#first-btn:hover{
    border-color: #adadad;
    background: none;
    color: #adadad;
}
@media only screen and (min-width: 1200px){
    #first-btn{
        width: 327px;
    }
    .container-p{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1px;
    } 
.container-p{
    font-weight: 500 ;
}    
}
#first-p{
    font-size: 16px;
    line-height: 26px;
}
.i1{
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
    margin: 0 5px;
  }
  @media only screen and (max-width: 1200px) {
   .no{
            text-align: center;
            margin: 10px 0;
     } 
  }  
#second-btn{
    font-weight: bold;
}
#second-btn:hover{
    background-color: #dbd4d4;
    color: white;
}
@media only screen and (max-width: 576px){
    #second-btn{
        width: 100% !important;
    }
    .button-div{
        width: 100% !important;
        margin-top: 50px;
    }
}
.h6 {
    color: #9b9b9b !important;
    font-family: Noto-regional,Noto-latin,TCCC-UnityText;
    font-size: 10px;
    font-weight: 600;
}
.footer-li{
    margin: 10px 0;
}
@media(max-width){
    
}